
<ion-content>
  <div class="amap-zoomcontrol">

    <!-- <div #zoom_in class="button button-balanced amap-zoom-touch-plus" (click)="onClick1()">
      <div>+</div>
    </div>
    <div #zoom_out class="button button-balanced amap-zoom-touch-minus" (click)="onClick2()">
      <div>−</div>
    </div> -->
  </div>
  

  <!-- user button -->
  <button ion-fab color="vibrant" class="iconType" (click)="login()">
      <img src="../../assets/imgs/user_login_orange.png" alt="" class="img">
  </button>
  <button ion-fab color="vibrant" class="search" (click)="login()">
      <img src="../../assets/imgs/search.png" alt="" class="imgsearch">
  </button>
  <button ion-fab color="vibrant" class="compass" (click)="login()">
      <img src="../../assets/imgs/compass.png" alt="" class="imgcompass">
  </button>
  <button ion-fab color="light" class="function_list">
    <img src="../../assets/imgs/list.png" alt="" class="img_list">
  </button>
  <button ion-fab color="light" class="function_list2"><ion-icon name="add"></ion-icon></button>

  <!-- map -->
  <div #map_container class="map_container">
  
  </div>

</ion-content>
<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <ion-pullup-tab (tap)="toggleFooter()">
    <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon>
    <ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab>

  <ion-content>
    <ion-card>
      <ion-card-header>
        Header
      </ion-card-header>
      <ion-card-content>
        The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Explore Nearby
      </ion-card-header>

      <ion-list>
        <button ion-item>
          <ion-icon name="cart" item-left></ion-icon>
          Shopping
        </button>

        <button ion-item>
          <ion-icon name="medical" item-left></ion-icon>
          Hospital
        </button>

        <button ion-item>
          <ion-icon name="cafe" item-left></ion-icon>
          Cafe
        </button>

        <button ion-item>
          <ion-icon name="paw" item-left></ion-icon>
          Dog Park
        </button>

        <button ion-item>
          <ion-icon name="beer" item-left></ion-icon>
          Pub
        </button>

        <button ion-item>
          <ion-icon name="planet" item-left></ion-icon>
          Space
        </button>

      </ion-list>
    </ion-card>
    <ion-list inset>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-pullup>
