page-home {
  .map_container {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .amap-touch-toolbar .amap-zoomcontrol {
    position: absolute;
    right: 4px;
    bottom: -80px;
    width: 35px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 0 #ccc;
  }
  .amap-zoomcontrol {
    width: 24px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .amap-logo,
  .amap-copyright {
    display: none !important;
  }
  .iconType{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  .iconType:active{
    background-color: gray;
  }
  .search{
    right:0px;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  .search:active{
    background-color: gray;
  }
  .compass{
    bottom:50px;
    position: absolute;
    background-color: white;
    width: 35px;
    height: 35px;
    margin: 15px;
  }
  .compass:active{
    background-color: gray;
  }
  .imgcompass{
    border: 0px;
    margin: 0px;
    top:0px;
    width: 100%;
    position: absolute;  
  }
  .imgsearch{
    width: 20px;
  }
  .img{
    border: 0px;
    margin: 0px;
    top:-2px;
    width: 95%;
    position: absolute;  
  }
  .img_list{
    width: 50%;
  }
  .function_list{
    bottom: 120px;
    right:0px;
    position: absolute;
    background-color: white;
    margin: 15px;
  }
  .function_list2{
    bottom: 40px;
    right:0px;
    position: absolute;
    background-color: white;
    margin: 15px;
  }
  .changeColor{
    background-color: orange;
  }
  ion-pullup .footer ion-pullup-tab {
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 120px;
    height: 22px;
    background: orange;
    color: white;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    -webkit-box-shadow: 0px -2px 2px gray;
    box-shadow: 0px -2px 2px gray;
  }
  .searchbar{
    position: absolute;
    width: 70%;
    left: 55px;
    top: 3px;
  }
  
  .searchbar-md .searchbar-input {
    height:40px;
  }
  .pic{
    width: 100%;
  }
  .searchbar{
    visibility: hidden;
  }
}

