page-home {
  .map_container {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .amap-touch-toolbar .amap-zoomcontrol {
    position: absolute;
    right: 4px;
    bottom: -80px;
    width: 35px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 0 #ccc;
  }
  .amap-zoomcontrol {
    width: 24px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .amap-logo,
  .amap-copyright {
    display: none !important;
  }
  .iconType{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  .iconType:active{
    background-color: gray;
  }
  .search{
    right:0px;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  .search:active{
    background-color: gray;
  }
  .compass{
    bottom:50px;
    position: absolute;
    background-color: white;
    width: 35px;
    height: 35px;
    margin: 15px;
  }
  .compass:active{
    background-color: gray;
  }
  .imgcompass{
    border: 0px;
    margin: 0px;
    top:0px;
    width: 100%;
    position: absolute;  
  }
  .imgsearch{
    width: 20px;
  }
  .img{
    border: 0px;
    margin: 0px;
    top:-2px;
    width: 95%;
    position: absolute;  
  }
  .img_list{
    width: 50%;
  }
  .function_list{
    bottom: 100px;
  }
  .function_list2{
    bottom: 40px;
  }
}

